{% extends 'pages/head_foot_nav.html' %}

{% block title %}Categories{% endblock %}

{% block contenu %}

{% if not cat or IndexError %}
<header class="masthead">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4">
                    <h1 class="d-block text-center mb-5" 
                    style="color: #798398; margin-top: 4rem; text-shadow: 1px 1px black;">
                    You didn't create any category yet</h1>
                </div>
            </div>
        </div>
    </div>
    </header>
{% else %}
<header class="masthead" style="max-height: 20rem;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4">
                    <h1 class="d-block text-center mb-5" 
                    style="color: #798398; margin-top: 4rem; text-shadow: 1px 1px black;">
                    Your category(ies)</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
        <div class="row d-flex justify-content-between justify-content-lg-around text-center">
            {% for element in cat %}
                <div class="card p-2 mb-5 mx-lg-2 col-lg-3 col-md-5 col-8 offset-2 offset-md-0" style="width:300px; margin-bottom: 4em;">
                    <a name="enter_cat" href="{% url 'enter_category' id_cat=element.id %}">
                        <h3><strong>{{ element }}</strong></h3>
                    </a>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a name="enter" href="{% url 'enter_category' id_cat=element.id %}" style="margin-bottom: 1em;">
                            <button name="enter" id="button_send"  type="submit" class="btn btn-primary ml-2">Enter</button>
                        </a>
                        <a name="delete" href="{% url 'delete_category' cat_id=element.id %}" style="margin-bottom: 1em;">
                            <button name="delete" id="button_send"  type="submit" class="btn btn-secondary ml-2"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="justify-content-center mt-5 mx-5">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-circle-left fa-2x mb-0" style="color: black;"></i>
            </a>
        </div>
    </div>
</section>

{% endif %}
{% if messages %}
{% for message in messages %}
<script>
    alert("{{ message }}");
    </script>

{% endfor %}
{% endif %}
{% endblock %}