{% extends 'pages/head_foot_nav.html' %}

{% block title %}Delete job offer{% endblock %}

{% block contenu %}
<header class="masthead" style="max-height: 20rem;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4">
                    <h1 class="d-block text-center mb-5" 
                    style="color: #798398; margin-top: 4rem; text-shadow: 1px 1px black;">
                    Delete {{ joboffer.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure you want to delete "{{ joboffer.title }}"</strong>
            <button type="submit" class="btn btn-secondary">Delete</button>
        </form>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="justify-content-center mt-5">
            <a href="{% url 'job_description' joboffer.category_id_id %}">
                <i class="fas fa-arrow-circle-left fa-2x mb-0" style="color: black;"></i>
            </a>
        </div>
    </div>
</section>

{% endblock %}