{% extends 'pages/head_foot_nav.html' %}

{% block title %}Edit job offer{% endblock %}

{% block contenu %}
<header class="masthead" style="max-height: 20rem;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4">
                    <h1 class="d-block text-center mb-5" 
                    style="color: #798398; margin-top: 4rem; text-shadow: 1px 1px black;">
                    Edit job offer</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Upload File" class="btn btn-primary">Update</button>
        </form>
        <a href="{% url 'delete_job' joboffer.pk %}" class="form-inline-center">
            <button name="delete" id="button_send"  type="submit" class="btn btn-secondary m-5">
                <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
        </a>
    </div>
</section>

{% endblock %}