{% extends 'pages/head_foot_nav.html' %}

{% block title %}Log in{% endblock %}


{% block contenu %}
<header class="masthead" style="background: #e3e3e3;">
    <div class="container h-100">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card my-auto">
                    <div class="d-flex justify-content-center pb-4" style="color: #798398; text-shadow:2px 2px;">
                        <h1 id="form-title">Password has been reset!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}